h1, h2 {
    font-family: 'Comfortaa', sans-serif;
}

body p, h3, h4, h5 {
    font-family: 'Comfortaa', sans-serif;
    color: black;
}

/* HOME */

.headerBar {
    background-color: none;
}

.headerLogo {
    padding-top: 21px;
    padding-left: 18px;
}

.menu-icon {
    margin-top: 21px;
    margin-left: 18px;
}

.main-menu {
    background-color: none !important; 
}

/*  HOME - SPLASH SECTION */

#splashPage {
    background: url(../img/bckgrnd_img.png) no-repeat center;
    min-height: 667px;
    text-align: center;
    height: 100%;
}

#splashPage h2 {
    color: #fef324;
    font-weight: bold;
}

#logo {
    margin-bottom: 50px;
}


/*  ABOUT */

/*  ABOUT - VIDEO */
#aboutVid {
    
}

video {
    width: 75%;
    margin: 0 auto;
    display: block;
}

/*  ABOUT - INFO */
#aboutInfo {
   background-color: white;
}

.aboutHead {
    float: left;
}


/*  SERVICES */
#servPage {
   background-color: #f2edb6;
}

.servHead {
    margin: 0 auto;
    display: block;
}

/*  TEAM */
#teamPage {
    background: white;
}

.teamHead {
    float: right;
}

/*  PORTFOLIO */
#folioPage {
    background: #fef324;
}

#folioPage h3 {
    text-align: center;
    font-weight: bold;
}

.mySlides {
    display:none;
}

/*  CONTACT */
#contactPage {
    background-color: #373737;
}

.contactHead {
    margin: 0 auto;
    display: block;
}

#contactPage h3 {
    color: #ff8100;
    text-align: center;
    font-weight: bold;
}

/*  CONTACT - FORM */
form {
    padding: 20px;
}

label {
    font-family: 'Comfortaa', cursive;
}

.input-group-label {
    background-color: #f2edb6;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}

.input-group-field {
    font-family: 'Comfortaa', cursive;
}

.input-group-button {
    margin: 0 auto;
}

.button {
    background-color: #ff8100;
    color: black;
}


/* FOOTER */
footer {
    background: black;
    width: 100%;
}




@media screen and (max-width: 39.9375em) {
    #logo {
        width: 130px;
        height: 140px;
        margin-top: 200px;
    }
    #splashPage h2 {
        font-size: 25px;
    }
    video {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .aboutHead {
        width: 100px;
        height: 115px;
        margin-left: 20px;
        margin-right: 30px;
    }
    .aboutText {
        font-size: 9px;
        margin-right: 20px;
        padding-top: 10px;
    }
    #aboutInfo {
        margin-bottom: 50px;
    }

    #servPage {
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 5px;
    }
    .servHead {
        width: 100xpx;
        height: 115px;
        margin-bottom: 40px;
    }
    .icon {
        width: 20%;
        float: left;
        margin-right: 20px;
    }
    #servPage h3 {
        font-size: 12px;
        font-weight: bold;
    }
    #servPage p {
        font-size: 10px;
        margin-bottom: 50px;
    }

    #teamPage {
        padding: 20px;
        padding-top: 30px;
    }

    .teamHead {
        width: 100px;
        height: 115px;
        margin-left: 25px;
    }
    .teamText {
        font-size: 9px;
        padding-top: 30px;
    }
    #folioPage {
        padding: 20px;
    }

    #folioPage h3 {
        font-size: 20px;
    }

    #contactPage {
        padding: 20px;
        padding-top: 30px;
    }
    .contactHead {
        width: 100px;
        height: 115px;
        margin-bottom: 25px;
    }
    #contactPage h3 {
        color: #ff8100;
        text-align: center;
        margin-bottom: 40px;
    }
    .radius {
        border-radius: 5px;
    }
    .input-group-button {
        padding: 10px;
        margin-top: 10px;
        font-size: 15px;
    }
    .button {
        border-radius: 5px;
        margin: 0 auto;
        font-size: 15px;
        width: 150px;
    }
}

/* tablet */
@media screen and (min-width: 40em) {
    #logo {
        width: 230px;
        height: 240px;
        margin-top: 170px;
    }
    #splashPage h2 {
        font-size: 40px;
    }
    video {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 80%;
    }
 }