h1, h2 {
    font-family: 'Comfortaa', sans-serif;
}

body p, h3, h4, h5 {
    font-family: 'Comfortaa', sans-serif;
    color: black;
}

/* HOME */
header {
    position: fixed;
    width: 100%;
    overflow: hidden;
}

.headerBar {
    opacity: .8;
    display: block;
    position: relative;
    padding: 0;
}


/* image logo */
#hatchLogo {
    display: block;
    max-width: 3%;
    text-align: left;
    float: left;
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 38%;
}

/* text logo */
#mainLogo {
	display: block;
    max-width: 15%;
    text-align: center;
    float: left;
    margin-top: 3%;
}

.main-menu {
    background-color: none !important; 
    display: block;
}

 .menu-icon {
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 3%;
    padding-right: 2%;
    
}

.title-bar .title-bar-right{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    top: 0;
}
/* main menu detail */

#menu {
    list-style-type: none;
    text-align: center;
    margin: 0;
}

#menu li a
{
	display: block;
    padding: 5px 0 15px 0;
    background-color: white;
    font-family: "Comfortaa";
    color: #373737;
    border-bottom: 1px solid #ff8100; 
}

#menu li a:hover {
    color: #f1f0b3;
    background-color: #ff8100;
    transition: all 0.25s;
}
/* nav ends */

/*  HOME - SPLASH SECTION */

#splashPage {
    background: url(../img/bckgrnd_img.png) no-repeat center;
    min-height: 667px;
    text-align: center;
    height: 100%;
}

#splashPage h2 {
    color: #fef324;
    font-weight: bold;
}

#logo {
    margin-bottom: 50px;
}


/*  ABOUT */

/*  ABOUT - VIDEO */
#seekslider {
    width: 600px;
}

/*  ABOUT - INFO */
#aboutInfo {
   background-color: white;
}

.aboutHead {
    float: left;
}


/*  SERVICES */
#servPage {
   background-color: #f2edb6;
}

.servHead {
    margin: 0 auto;
    display: block;
}

/*  TEAM */
#teamInfo {
    background: white;
}

#teamDesc {
    background:white;
    padding-bottom: 70px;
}

.teamHead {
    float: right;
}

.teamImg {
    box-shadow: 0px 4px 4px 0px #888888;
}

/*  PORTFOLIO */
#folioPage {
    background: #fef324;
}

#folioPage h3 {
    text-align: center;
    font-weight: bold;
}

.mySlides {
    display:none;
}

#folio1:hover {
/* Start the shake animation and make the animation last for 0.5 seconds */
animation: shake 0.5s;

/* When the animation is finished, start again */
animation-iteration-count: infinite;
}

@keyframes shake {
0% { transform: translate(1px, 1px) rotate(0deg); }
10% { transform: translate(-1px, -2px) rotate(-1deg); }
20% { transform: translate(-3px, 0px) rotate(1deg); }
30% { transform: translate(3px, 2px) rotate(0deg); }
40% { transform: translate(1px, -1px) rotate(1deg); }
50% { transform: translate(-1px, 2px) rotate(-1deg); }
60% { transform: translate(-3px, 1px) rotate(0deg); }
70% { transform: translate(3px, 1px) rotate(-1deg); }
80% { transform: translate(-1px, -1px) rotate(1deg); }
90% { transform: translate(1px, 2px) rotate(0deg); }
100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/*  CONTACT */
#contactPage {
    background-color: #373737;
    height: 800px;
}

.contactHead {
    margin: 0 auto;
    display: block;
}

#contactPage h3 {
    color: #ff8100;
    text-align: center;
    font-weight: bold;
}

/*  CONTACT - FORM */
form {
    padding: 20px;
}

label {
    font-family: 'Comfortaa', cursive;
}

.input-group-label {
    background-color: #f2edb6;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}

.input-group-field {
    font-family: 'Comfortaa', cursive;
}

.input-group-button {
    margin: 0 auto;
}

.button {
    background-color: #ff8100;
    color: black;
}

/*  CONTACT */
.googlemap {
    position: relative;
    text-align: center;
    height: 600px;
}

iframe {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
}

.googlemap h3 {
    color: #ff8100;
    text-align: center;
    font-weight: bold;
}

.map {
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
         -o-filter: grayscale(100%);
            filter: grayscale(100%);
    filter: brightness(50%);
    margin: 0px;
    padding: 0px;
}

#contactPage {

    z-index: 1;
    position: relative;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px !important;
    
}

#contactPage iframe {
    z-index: -1;
}

.contactHead {
    margin: 0 auto;
    display: block;
}

#contactPage h3 {
    color: #ff8100;
    text-align: center;
    font-weight: bold;
}


/*.googlemap {
    background-image: url('');
}
*/

.mapouter {
    position:relative;
    text-align:right;
    height:100%;
    width: 375px;
    z-index: -1;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:500px;
    width: inherit;
}

/*  CONTACT - FORM */
.contactFormCont {

    z-index: 2;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
}



/* FOOTER */
footer {
    background: black;
    width: 100%;
    padding-top: 40px;
}

footer img {
    width: 50px;
    margin-right: 15px;
    margin-bottom: 20px;
}


.address {
    color: white;
    margin-top: 20px;
}

.email {
    color: #ff8100;
}

.number {
    color: white;
}

footer a:hover {
    opacity: 0.75;
}


@media screen and (min-width: 20em) {
    /* logo size can't smaller than */
        #hatchLogo {
            min-width: 15px;
            margin-right: 37%;
        }
    
        #mainLogo {
            min-width: 80px;
            margin-top: 5%;
            float: left;
        }
        /* video controls for mobile */
#video_controls_bar {
    background-color: white;
    /* border: 2px solid #ff8100; */
    max-width: 100%; 
  }
  
  .bttns {
      max-width: 15%;
      cursor: pointer;
  }
  
  #seekslider {
      margin: 1% 0 0 2%;
      position: absolute;
  }
  
  #durtimetext {
      margin-bottom: 30%;
      margin-right: 5%;
  }
  
  button {
      margin-top: 3%;
      margin-right: 7%;
  }
  
  span {
      font-size: 8px;
  }
    }


  
  /* video controls end */

/* mobile */
@media screen and (max-width: 39.9375em) {
    #logo {
        width: 130px;
        height: 140px;
        margin-top: 200px;
    }
    #splashPage h2 {
        font-size: 25px;
    }



    /* /* video {
        margin-top: 50px;
        margin-bottom: 50px;
    } */
    .aboutHead {
        width: 100px;
        height: 115px;
        margin-left: 20px;
        margin-right: 30px;
    }
    .aboutText {
        font-size: 9px;
        margin-right: 20px;
        padding-top: 10px;
    }
    #aboutInfo {
        margin-bottom: 50px;
    }

    #servPage {
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 5px;
    }
    .servHead {
        width: 100xpx;
        height: 115px;
        margin-bottom: 40px;
    }
    .icon {
        width: 20%;
        float: left;
        margin-right: 20px;
    }
    #servPage h3 {
        font-size: 12px;
        font-weight: bold;
    }
    #servPage p {
        font-size: 10px;
        margin-bottom: 50px;
    }

    #teamInfo {
        padding: 20px;
        padding-top: 30px;
        margin-bottom: 40px;
    }

    .teamHead {
        width: 100px;
        height: 115px;
        margin-left: 25px;
    }
    .teamText {
        font-size: 9px;
        padding-top: 30px;
    }

    #teamDesc {
        border-style: none;
        margin-bottom: 20px;
        text-align: center;
    }

    .teamImg {
        width: 150px;
        padding-bottom: 30px;
        padding-right: 15px;
    }

    #folioPage {
        height: 330px;
        padding-top: 30px;
    }

    #folioPage h3 {
        font-size: 20px;
    }

    #folio1 {
        width: 200px;
        margin: 0 auto;
        display: block; 
        padding-bottom: 100px;
    }

    #contactPage {
        padding: 20px;
        padding-top: 30px;
    }
    .contactHead {
        width: 100px;
        height: 115px;
        margin-bottom: 25px;
    }
    #contactPage h3 {
        color: #ff8100;
        text-align: center;
        margin-bottom: 40px;
    }
    .radius {
        border-radius: 5px;
    }
    .input-group-button {
        padding: 10px;
        margin-top: 10px;
        font-size: 15px;
    }
    .button {
        border-radius: 5px;
        margin: 0 auto;
        font-size: 15px;
        width: 150px;
    }
}

/* tablet */
@media screen and (min-width: 40em) {
    #logo {
        width: 230px;
        height: 240px;
        margin-top: 170px;
    }
    #splashPage h2 {
        font-size: 40px;
    }

    .aboutHead {
        width: 200px;
        height: 215px;
        margin-right: 30px;
    }
    .aboutText {
        font-size: 15px;
        padding-top: 50px;
    }
    #aboutInfo {
        padding: 30px;
        margin-bottom: 50px;
    }

    #servPage {
        padding: 30px;
    }
    .servHead {
        width: 200xpx;
        height: 215px;
        margin-bottom: 60px;
        margin-top: 20px; 
    }
    .icon {
        width: 20%;
        float: left;
        margin-right: 30px;
    }
    #servPage h3 {
        font-size: 16px;
        font-weight: bold;
        padding-top: 10px;
    }
    #servPage p {
        font-size: 13px;
        margin-bottom: 70px;
    }
    
    #teamInfo {
        padding: 30px;
        margin-bottom: 80px;
    }

    .teamHead {
        width: 200px;
        height: 215px;
        margin-left: 15px;
    }
    .teamText {
        font-size: 15px;
        padding-top: 70px;
    }

    #teamDesc {
        margin-left: 40px;
        margin-right: 40px;
        text-align: center;
    }

    .teamImg {
        width: 150px;
        padding-right: 10px;
    }

    #folioPage {
        padding-top: 50px;
    }
    #folio1 {
        width: 300px;
        margin: 0 auto;
        display: block; 
    }

    #contactPage {
        padding: 20px;
        padding-top: 30px;
    }
    .contactHead {
        width: 200px;
        height: 215px;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    #contactPage h3 {
        color: #ff8100;
        text-align: center;
        margin-bottom: 40px;
    }
    .radius {
        border-radius: 5px;
    }
    .input-group-button {
        padding: 10px;
        margin-top: 10px;
        font-size: 15px;
    }
    .button {
        border-radius: 5px;
        margin: 0 auto;
        width: 150px;
    }
 }

 @media screen and (min-width: 40em) {
    #hatchLogo {
        margin-right: 37%;
    }

    #mainLogo {
        margin-top: 3%;
        float: left;
        
    }

      /* video controls for tablet */
    .bttns {
        max-width: 15%;
        padding-top: 0;
    }
    
    #seekslider {
        margin-left: 3%;
        margin-right: 5%;
    }
    
    #durtimetext {
        margin-right: 20%;
    }
    
    span {
        font-size: 10px;
    }
    
    #aboutInfo {
        margin-bottom: 100px;
    }

    .aboutText {
        font-size: 17px;
    }

    .icon {
        width: 15%;
        float: left;
        margin-right: 40px;
    }
    #servPage {
        padding: 40px;
        padding-bottom: 60px;
    }

    #servPage h3 {
        padding-top: 30px;
        font-size: 20px;
    }

    #servPage p {
        font-size: 15px;
        margin-bottom: 70px;
    }

    .teamText {
        font-size: 17px;
        padding-left: 20px;
    }

    .teamHead {
        padding-left: 20px;
    }
}

@media screen and (min-width: 50em) {
    .aboutHead {
        margin-left: 50px;
        margin-right: 70px;
        width: 240px;
        height: 265px;
    }

    #aboutInfo {
        margin-right: 90px;
    }

    .aboutText {
        font-size: 19px;
    }

    .servHead {
        width: 240px;
        height: 265px;
    }
    

    .icon {
        margin-left: 150px;
        margin-right: 70px;
    }

    .product {
        margin-bottom: 150px;
    }
    

    #servPage h3 {
        font-size: 25px;
        font-weight: bold;
        padding-top: 25px;

    }

    #servPage p {
        font-size: 20px;
        padding-right: 70px;

    }
    
    #teamInfo {
        padding-top: 70px;
        margin-bottom: 200px;
    }

    .teamHead {
        width: 240px;
        height: 265px;
        margin-right: 70px;
    }

    .teamText {
        font-size: 20px;
        padding-left: 100px;
        padding-right: 70px;
        padding-top: 100px;
    }

    #teamDesc {
    text-align: center;
    }

    .teamImg {
       text-align: center;
        width: 300px;
        margin-left: 20px;
        padding-bottom: 40px;
    }

    #folioPage h3 {
        font-size: 35px;
        margin-top: 30px;
    }
    .contactHead {
        width: 200px;
        height: 225px;
        margin-top: 70px;
    }

    #contactPage h3 {
        font-size: 35px;
    }
}

@media screen and (min-width: 64em) {
    #hatchLogo {
        margin-right: 37%;
    }
    
    #mainLogo {
        margin-top: 3%;
        float: left;
    }
    
    #splashPage h2 {
        font-size: 50px;
    }

     /* video controls for desktop */
/* .bttns {
    max-width: 15%;
    padding-top: 0;
} */

#video_controls_bar {
    text-align: center;
}

#seekslider {
    margin: 3.5% 0 0 15%;
    position: absolute;
}

#durtimetext {
    margin-right: 35%;
}

span {
    margin-bottom: 100%;
    text-align: center;
    font-size: 16px;
}

    #aboutInfo {
        padding: 100px;
    }
    .aboutText {
        padding-top: 50px;
        font-size: 23px;
        padding-right: 70px;
        padding-left: 50px;
    }

    #servPage {
        padding: 100px;
    }

    .servHead {
        width: 340px;
        height: 365px;
    }

    #servPage h3 {
        font-size: 30px;
        margin-bottom: 15px;
    }

    #teamInfo {
        padding: 100px;
    }

    .teamText {
        font-size: 23px;
        /* padding-left: 100px; */
    }

    #folioPage h3 {
        font-size: 40px;
    }

    .contactHead {
        margin-bottom: 50px;
    }

    #contactPage h3 {
       font-size: 40px; 
    }
}
